---
import type { HTMLAttributes } from "astro/types";
import { ExternalLink, FileCode2, Hash, Newspaper } from "lucide-astro";

interface Props extends HTMLAttributes<"a"> {
  variant: "new-tab" | "hash" | "article" | "code";
}

const { variant, ...props } = Astro.props;
---

<a
  {...props}
  class="no-underline text-pretty supports-[text-wrap:pretty]:inline-block supports-[text-wrap:pretty]:[baseline-source:first]"
>
  <!-- <a {...props} class="no-underline"> -->
  <span class="underline"><slot /></span>
  <span class="inline-block -mb-0.5 text-neutral-500 me-0.5 -ms-0.5">
    <!-- <span class="inline-block -mb-0.5 text-neutral-500 me-0.5 -ms-0.5 select-none"> -->
    {variant === "new-tab" && <ExternalLink class="flex-none" size={15} />}
    {variant === "hash" && <Hash class="flex-none" size={15} />}
    {variant === "article" && <Newspaper class="flex-none" size={15} />}
    {variant === "code" && <FileCode2 class="flex-none" size={15} />}
  </span>
</a>
