---
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { ExternalLink } from "lucide-astro";
import { Tooltip } from "./Tooltip";
import Anchor from "./Anchor.astro";
import ImageWithInferredAlt from "../../ImageWithInferredAlt.astro";
import { getAnchor } from "./get-anchor";
import { METADATA } from "../../../lib/metadata";

type Props = HTMLAttributes<"a">;

const { href } = Astro.props;
if (!href) throw new Error("href is required");

const { url, type, detail } = await getAnchor({ href, astroUrl: Astro.url });

const variant: ComponentProps<typeof Anchor>["variant"] = (() => {
  switch (type) {
    case "external":
      return "new-tab";
    case "hash":
      return "hash";
    case "post":
      return "article";
    case "snippet":
      return "code";
  }
})();

const anchorProps: ComponentProps<typeof Anchor> = {
  variant,
  href: url.href,
  ...(type !== "hash" && {
    target: "_blank",
    rel: "noopener noreferrer",
  }),
};
---

{
  detail && (
    <Tooltip {...detail} client:load>
      <Anchor slot="trigger" {...anchorProps}>
        <slot />
      </Anchor>
      <div class="flex flex-col gap-4 p-4 pb-3.5 select-none" slot="popup">
        {type === "post" && detail.coverImage && (
          <ImageWithInferredAlt
            src={detail.coverImage}
            class="rounded-md outline-1 -outline-offset-1 outline-black/10 dark:outline-white/10"
          />
        )}
        <div class="flex justify-between gap-2.5">
          <div class="flex flex-col gap-1.5">
            <div class="text-lg leading-snug text-gray-900 dark:text-zinc-100 font-bold text-balance">
              {detail.title}
            </div>
            {type === "post" && detail.description && (
              <div class="text-gray-500 dark:text-zinc-500 text-sm leading-snug text-pretty">
                {detail.description}
              </div>
            )}
          </div>
          <ExternalLink
            class="text-gray-400 dark:text-zinc-600 flex-none m-0.5 me-0"
            size={18}
          />
        </div>
      </div>
      <div class="w-full border-t border-gray-200 dark:border-zinc-800 text-xs px-4 py-1.5 flex justify-between">
        <span class="text-gray-600 dark:text-zinc-400 font-medium">
          이 블로그의 {type === "post" && METADATA.lexicons.posts.label}
          {type === "snippet" && METADATA.lexicons.snippets.label}
        </span>
        {anchorProps.target === "_blank" && (
          <span class="text-gray-400 dark:text-zinc-600">
            새 탭에서 열립니다.
          </span>
        )}
      </div>
    </Tooltip>
  )
}{
  !detail && (
    <Anchor {...anchorProps}>
      <slot />
    </Anchor>
  )
}
