# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# logs
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store
