---
import Layout from "../../layouts/Layout.astro";
import { getTags } from "../../lib/contents";

export async function getStaticPaths() {
  const tags = await getTags();

  return tags.map(({ name, slug }) => ({
    params: { slug },
    props: { name, slug },
  }));
}

const { name, slug } = Astro.props;
---
<Layout asideProps={{ tags: { defaultOpen: true, selectedTag: slug } }}>
  <div>
    {name}
  </div>
</Layout>
