---
import { getCollection } from "astro:content";
import { uniqBy } from "es-toolkit";
import { slug } from "github-slugger";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("post");
  const snippets = await getCollection("snippet");

  const tags = [
    ...posts.flatMap((post) => post.data.tags),
    ...snippets.flatMap((snippet) => snippet.data.tags),
  ];

  const tagsWithSlugs = tags.map((tag) => ({ name: tag, slug: slug(tag) }));

  const uniqueTagsWithSlugs = uniqBy(tagsWithSlugs, ({ slug }) => slug);

  return uniqueTagsWithSlugs.map(({ name, slug }) => ({
    params: { slug },
    props: { name },
  }));
}

const { name } = Astro.props;
---
<Layout>  
  <div>
    {name}
  </div>
</Layout>
