---
import { Image } from "astro:assets";
import type { ComponentProps } from "astro/types";
import ImageWithInferredAlt from "../ImageWithInferredAlt.astro";
import { ArrowLeft, ArrowRight } from "lucide-astro";
import Link from "astro-typesafe-routes/link";

interface Props {
  direction: "previous" | "next";
  title: string;
  imageSrc?: ComponentProps<typeof Image>["src"];
  slug: string;
}

const { direction, title, imageSrc, slug } = Astro.props;
---

<Link
  to="/post/[slug]"
  params={{ slug }}
  class="relative aspect-cover-image rounded-lg overflow-hidden p-6 group"
>
  <div class="z-10 relative flex flex-col gap-4 justify-between size-full">
    <div class="text-pretty text-white text-xl font-semibold">{title}</div>
    <div
      class:list={[
        "flex items-center gap-1 text-white/75 text-sm font-medium transition-colors",
        direction === "next" && "flex-row-reverse",
      ]}
    >
      {
        direction === "previous" ? (
          <ArrowLeft
            class="transition-transform group-hover:-translate-x-1"
            size={20}
          />
        ) : (
          <ArrowRight
            class="transition-transform group-hover:translate-x-1"
            size={20}
          />
        )
      }
      <span>{direction === "next" ? "다음 글" : "이전 글"}</span>
    </div>
  </div>
  {
    imageSrc && (
      <div class="absolute inset-0">
        <ImageWithInferredAlt
          src={imageSrc}
          class="size-full object-cover motion-safe:animate-pulse bg-neutral-400 select-none peer"
          onload="this.classList.remove('motion-safe:animate-pulse')"
        />
        <div class="bg-gradient-to-b from-black/90 to-black/65 inset-0 absolute" />
      </div>
    )
  }
</Link>
