---
import type { MarkdownHeading } from "astro";
import NestedHeadingsList, {
  type NestedHeading,
} from "./NestedHeadingsList.astro";
import { X } from "lucide-astro";

interface Props {
  class?: string;
  headings: MarkdownHeading[];
}

function nestHeadings(headings: MarkdownHeading[]): NestedHeading[] {
  const nested: NestedHeading[] = [];
  const stack: NestedHeading[] = [];

  for (const heading of headings) {
    const newHeading: NestedHeading = { ...heading, children: [] };

    while (stack.length && stack[stack.length - 1].depth >= heading.depth) {
      stack.pop();
    }

    if (stack.length) {
      stack[stack.length - 1].children.push(newHeading);
    } else {
      nested.push(newHeading);
    }

    stack.push(newHeading);
  }

  return nested;
}

const nestedHeadings = nestHeadings(Astro.props.headings);
---

<nav
  class:list={[
    "overflow-y-auto [scrollbar-color:var(--color-neutral-200)_transparent] flex flex-col text-sm",
    Astro.props.class,
  ]}
>
  <div
    class="sticky top-0 font-semibold bg-gradient-to-b from-white to-transparent px-2.5 py-2 text-neutral-900 pointer-events-none flex items-center justify-between"
  >
    <div>목차</div>
    <button
      id="hide-toc-overlay-button"
      aria-expanded="true"
      aria-controls="toc-container"
      aria-label="닫기"
      type="button"
      class="toc-shown:hidden p-1 rounded-md engaged:bg-black/5 pointer-events-auto"
    >
      <X />
    </button>
  </div>
  <NestedHeadingsList nestedHeadings={nestedHeadings} />
</nav>
<script>
  import { isTocOverlayOpen } from "./store";

  const tocContainer = document.getElementById("toc-container");
  const hideTocOverlayButton = document.getElementById(
    "hide-toc-overlay-button"
  );

  hideTocOverlayButton?.addEventListener("click", () => {
    isTocOverlayOpen.set(false);
  });

  isTocOverlayOpen.subscribe((isOpen) => {
    if (isOpen) {
      tocContainer?.setAttribute("data-showing-toc-overlay", "");
      hideTocOverlayButton?.setAttribute("aria-expanded", "true");

      return;
    }

    tocContainer?.removeAttribute("data-showing-toc-overlay");
    hideTocOverlayButton?.setAttribute("aria-expanded", "false");
  });
</script>
