---
import type { MarkdownHeading } from "astro";

export interface NestedHeading extends MarkdownHeading {
  children: NestedHeading[];
}

interface Props {
  nestedHeadings: NestedHeading[];
}

const { nestedHeadings } = Astro.props;

function getMarginClass(depth: number) {
  switch (depth) {
    case 1:
      throw new Error("Depth 1 headings should not be used");
    case 2:
      return "ps-2.5";
    case 3:
      return "ps-5.5";
    default:
      return "ps-10";
  }
}
---

<ol role="list">
  {
    nestedHeadings.map(({ depth, slug, text, children }) => (
      <li>
        <a
          class:list={[
            "block py-[0.4375rem] pe-2.5 engaged:bg-gray-100 dark:engaged:bg-zinc-900 transition-colors text-gray-500 dark:text-zinc-500 rounded-lg",
            getMarginClass(depth),
          ]}
          href={`#${slug}`}
        >
          {text}
        </a>
        {depth < 3 && children.length > 0 && (
          <Astro.self nestedHeadings={children} />
        )}
      </li>
    ))
  }
</ol>
