@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer {
  *:not(path) {
    /* outline: 1px solid red; */
    /* transition-duration: 1s; */
  }
}

@theme {
  /* colors */
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-950: var(--color-gray-950);
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);

  --color-sidebar-bg: var(--color-neutral-100);
  --color-header-bg: var(--color-neutral-100);

  --color-body-bg: var(--color-white);

  /* breakpoints */
  --breakpoint-sidebar-shown: 40rem; /* sm */
  --breakpoint-stretch: 80rem; /* xl */

  /* spacings */
  --spacing-mdx-component-margin-y: 1.25em;

  /* layout */
  --spacing-sidebar-width: calc(var(--spacing) * 68);
  --spacing-sidebar-padding-x: calc(var(--spacing) * 8);
  --spacing-sidebar-stretch-x: calc((100% - var(--breakpoint-stretch)) / 2);

  --spacing-header-height: calc(var(--spacing) * 16);

  --spacing-content-stretch-x-start: calc(
    var(--spacing-sidebar-width) +
    var(--spacing-sidebar-stretch-x)
  );
}
