@import "tailwindcss";
@plugin "@tailwindcss/typography";

*:not(path) {
  /* outline: 1px solid red; */
  /* --default-transition-duration: 1s; */

  /* this is fine because we're applying proper :active styles */
  -webkit-tap-highlight-color: transparent;
}

*:not(.rounded-full) {
  corner-shape: superellipse(1.1);
}

body {
  @apply break-keep selection:bg-gray-700/85 selection:text-gray-100 dark:selection:bg-zinc-200/85 dark:selection:text-zinc-900;
}

img {
  @apply selection:bg-gray-800/50 dark:selection:bg-zinc-50/50
}

a,
button,
summary,
pre.astro-code {
  @apply focus-visible:outline-[3px] outline-offset-[3px] outline-accent-600 dark:outline-accent-400;
}

:is(a,
button,
summary,
pre.astro-code):not(.transition-transform-on-focus) {
  @apply focus-visible:transition-none;
}

@layer utilities {
  .media-border {
    @apply relative after:absolute after:inset-0 after:outline-1 after:-outline-offset-1 after:outline-black/10 dark:after:outline-white/10 after:z-10;
  }

  .grid-pos-start {
    @apply row-start-1 row-end-1 col-start-1 col-end-1;
  }
}

@custom-variant hover {
  /* remove @media (hover: hover) to always apply hover styles */
  &:hover {
    @slot;
  }
}

/* most of the times you'll want to use engaged instead of hover */
@custom-variant engaged {
  &:focus-visible {
    @slot;
  }

  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }

  @media (hover: none) {
    &:active {
      @slot;
    }
  }
}

@custom-variant prose-del (& :is(:where(del):not(:where([class~='not-prose'],[class~='not-prose'] *))));

@theme {
  /* colors */
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-accent-50: var(--color-amber-50);
  --color-accent-100: var(--color-amber-100);
  --color-accent-200: var(--color-amber-200);
  --color-accent-300: var(--color-amber-300);
  --color-accent-400: var(--color-amber-400);
  --color-accent-500: var(--color-amber-500);
  --color-accent-600: var(--color-amber-600);
  --color-accent-700: var(--color-amber-700);
  --color-accent-800: var(--color-amber-800);
  --color-accent-900: var(--color-amber-900);
  --color-accent-950: var(--color-amber-950);

  --color-content-card-bg: var(--color-white);
  --color-body-bg: var(--color-gray-100);

  --color-content-card-bg-dark: var(--color-zinc-950);
  --color-body-bg-dark: oklch(6.5% 0.0028 285.823);

  --color-body-item-engaged: rgba(0, 0, 0, 0.075);
  --color-body-item-engaged-dark: rgba(255, 255, 255, 0.1);

  /* breakpoints */
  --breakpoint-sidebar-shown: 40rem; /* sm */
  --breakpoint-toc-shown: 64rem; /* lg */
  --breakpoint-stretch: 80rem; /* xl */

  --default-transition-duration: 0.2s;

  /* spacings */
  --spacing-mdx-component-margin-y: 1.25em;

  /* fonts */
  --font-sans: "Pretendard Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "SF Mono", "Google Sans Code Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  /* layout */
  --spacing-sidebar-hidden-title-width: calc(var(--spacing) * 48);
  --spacing-sidebar-width: calc(var(--spacing) * 68);
  --spacing-sidebar-padding-x: calc(var(--spacing) * 8);
  --spacing-sidebar-stretch-x: calc((100vw - var(--breakpoint-stretch)) / 2);

  --spacing-header-height: calc(var(--spacing) * 16);
  --spacing-footer-height: calc(var(--spacing) * 48);

  --aspect-cover-image: 16 / 10;

  --radius-mdx-block: var(--radius-xl);
  --radius-content-card: 1.65625rem;
}
