@import "tailwindcss";
@plugin "@tailwindcss/typography";

*:not(path) {
  /* outline: 1px solid red; */
  /* --default-transition-duration: 1s; */
}

body {
  @apply break-keep;
}

@layer utilities {
  .clickable {
    @apply focus-visible:outline-[3px] outline-offset-[3px] outline-accent-500;
  }

  .media-border {
    @apply relative after:absolute after:inset-0 after:outline-1 after:-outline-offset-1 after:outline-black/10 after:z-10;
  }
}

@custom-variant engaged (&:hover, &:focus-visible);
@custom-variant prose-del (& :is(:where(del):not(:where([class~='not-prose'],[class~='not-prose'] *))));

@theme {
  /* colors */
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-950: var(--color-gray-950);
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-accent-50: var(--color-blue-50);
  --color-accent-100: var(--color-blue-100);
  --color-accent-200: var(--color-blue-200);
  --color-accent-300: var(--color-blue-300);
  --color-accent-400: var(--color-blue-400);
  --color-accent-500: var(--color-blue-500);
  --color-accent-600: var(--color-blue-600);
  --color-accent-700: var(--color-blue-700);
  --color-accent-800: var(--color-blue-800);
  --color-accent-900: var(--color-blue-900);
  --color-accent-950: var(--color-blue-950);

  --color-content-card-bg: var(--color-white);
  --color-body-bg: var(--color-gray-100);

  /* breakpoints */
  --breakpoint-sidebar-shown: 40rem; /* sm */
  --breakpoint-toc-shown: 64rem; /* lg */
  --breakpoint-stretch: 80rem; /* xl */

  --default-transition-duration: 0.2s;

  /* spacings */
  --spacing-mdx-component-margin-y: 1.25em;

  /* layout */
  --spacing-sidebar-hidden-title-width: calc(var(--spacing) * 36);
  --spacing-sidebar-width: calc(var(--spacing) * 68);
  --spacing-sidebar-padding-x: calc(var(--spacing) * 8);
  --spacing-sidebar-stretch-x: calc((100vw - var(--breakpoint-stretch)) / 2);

  --spacing-marginal-height: calc(var(--spacing) * 16);

  --aspect-cover-image: 16 / 10;

  --radius-mdx-block: var(--radius-xl);
}
