---
import Link from "astro-typesafe-routes/link";
import { FileCode2, Newspaper, Tags } from "lucide-astro";
import { getTags } from "../lib/contents";
import { CollapsibleAsideItem } from "./CollapsibleAsideItem";
import LinkAsideItem from "./LinkAsideItem.astro";

interface Props {
  tags?: {
    defaultOpen?: boolean;
    selectedTag?: string;
  };
}

const tags = await getTags({ sortBy: "count" });
const { props } = Astro;
---

<aside
  class="fixed inset-y-0 -start-aside-width aside-shown:start-0 stretch:ms-aside-stretch-x pt-marginal-height transition-[inset] w-aside-width overflow-y-auto overflow-x-hidden overscroll-y-none"
>
  <div class="sticky top-0 inset-x-0 h-22 -mx-2 bg-gradient-to-b from-body-bg to-transparent pointer-events-none z-10" />
  <div class="flex flex-col gap-2 w-[inherit] px-aside-padding-x py-4 -mt-22">
    <LinkAsideItem to="/posts">
      <Newspaper slot="icon" />
      <Fragment slot="title">글</Fragment>
    </LinkAsideItem>
    <LinkAsideItem to="/snippets">
      <FileCode2 slot="icon" />
      <Fragment slot="title">코드 조각</Fragment>
    </LinkAsideItem>
    <CollapsibleAsideItem client:load defaultOpen={props.tags?.defaultOpen}>
      <Tags slot="triggerIcon" />
      <Fragment slot="triggerTitle">태그</Fragment>
      <Fragment slot="panelContent">
        {
          tags.map(({ name, slug, count }) => (
            <Link
              to="/tag/[slug]"
              params={{ slug }}
              class:list={[
                "flex gap-0.5 font-medium items-baseline text-sm text-neutral-500 bg-neutral-200 engaged:bg-neutral-300 px-1.5 py-1 rounded-md border border-neutral-300",
                {
                  "bg-primary-500 text-primary-100":
                    props.tags?.selectedTag === slug,
                },
              ]}
            >
              <span>{name}</span>
              <span class="text-xs text-neutral-400">{count}</span>
            </Link>
          ))
        }
      </Fragment>
    </CollapsibleAsideItem>
  </div>
</aside>
