---
import Link from "astro-typesafe-routes/link";
import type { Route, RouteOptions } from "astro-typesafe-routes/path";
import type { HTMLAttributes } from "astro/types";

type Props<T extends Route> = Omit<HTMLAttributes<"a">, "href"> & RouteOptions<T>;
---

<Link
  {...Astro.props}
  class="flex items-center justify-between gap-1 rounded-lg hover:bg-neutral-200 -mx-2 p-2 transition-colors text-neutral-700"
  >
  <div class="flex items-center gap-2">
    <slot name="icon" />
    <span class="font-semibold">
      <slot name="title" />
    </span>
  </div>
</Link>
