---
import Link from "astro-typesafe-routes/link";
import { shuffle } from "es-toolkit";
import { Beer, Candy, Pizza, Popcorn, Sandwich } from "lucide-astro";
import ImageWithInferredAlt from "../ImageWithInferredAlt.astro";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

interface Props extends HTMLAttributes<"a"> {
  slug: string;
  title: string;
  description: string;
  coverImage?: ComponentProps<typeof Image>["src"];
}

const {
  slug,
  title,
  description,
  coverImage,
  class: className,
  ...props
} = Astro.props;
---

<Link
  to="/post/[slug]"
  params={{ slug }}
  class:list={[
    "flex flex-col gap-3.5 engaged:bg-neutral-100 p-3.5 rounded-2xl transition-colors group",
    className,
  ]}
  {...props}
>
  {
    coverImage ? (
      <div class="rounded-lg overflow-hidden media-border after:rounded-lg">
        <ImageWithInferredAlt
          src={coverImage}
          class="not-noscript:motion-safe:animate-pulse bg-neutral-400 motion-safe:group-engaged:scale-105 transition-transform"
          onload="this.classList.remove('not-noscript:motion-safe:animate-pulse')"
        />
      </div>
    ) : (
      <div
        aria-hidden
        class="rounded-lg bg-neutral-50 media-border after:rounded-lg aspect-16/10 text-neutral-300 flex justify-center items-center [&>svg]:size-1/4"
      >
        {
          shuffle([
            <Sandwich />,
            <Candy />,
            <Pizza />,
            <Popcorn />,
            <Beer />,
          ])[0]
        }
      </div>
    )
  }
  <div class="text-balance flex flex-col gap-1.5 p-0.5">
    <div class="text-xl text-neutral-800 leading-snug font-semibold">
      {title}
    </div>
    <p class="text-sm text-neutral-500 leading-snug">
      {description}
    </p>
  </div>
</Link>
