---
import IceCreamBowl from "lucide-astro/IceCreamBowl";
import Layout from "../layouts/Layout.astro";
---
<Layout>
	<h1>안녕하세요. te6.in 블로그입니다.</h1>
	<p>최근에 올라온 글을 확인해보세요.</p>
	<IceCreamBowl />
</Layout>
