---
import type { CollectionEntry } from "astro:content";
import { groupBy } from "es-toolkit";
import SnippetListItem from "./SnippetListItem.astro";

interface Props {
  snippets: CollectionEntry<"snippet">[];
}

const { snippets } = Astro.props;

const snippetsByYear = groupBy(snippets, ({ data: { publishedAt } }) => publishedAt.getFullYear());
---

<ol
  role="list"
  class="divide divide-y divide-gray-300 dark:divide-zinc-700 px-2.5 sidebar-shown:px-1.5 pb-2.5 sidebar-shown:pb-5.5 transition-[padding]"
>
  {Object.entries(snippetsByYear)
      .sort(([yearA], [yearB]) => parseInt(yearB) - parseInt(yearA))
      .map(([year, snippets], yearIndex) => (
        <li class="flex gap-2 sidebar-shown:gap-4 items-start flex-col sidebar-shown:flex-row">
          <div class="font-semibold text-sm text-gray-500 dark:text-zinc-500 ps-5.5 sidebar-shown:ps-6.5 pt-5.5 sidebar-shown:pb-5.5 sidebar-shown:sticky sidebar-shown:top-0 transition-[padding]">
            {year}
          </div>
          <ol
            role="list"
            class="divide-y divide-gray-200 dark:divide-zinc-800 w-full sidebar-shown:w-[unset] sidebar-shown:grow"
          >
            {snippets.map(
              ({ id, data: { title, publishedAt } }, snippetIndex) => (
                <li>
                  <SnippetListItem
                    slug={id}
                    title={title}
                    publishedAt={publishedAt}
                    position={{
                      firstGlobal: snippetIndex === 0 && yearIndex === 0,
                      firstInYear: snippetIndex === 0,
                      last:
                        snippetIndex === snippets.length - 1 &&
                        yearIndex === Object.keys(snippetsByYear).length - 1,
                    }}
                  />
                </li>
              )
            )}
          </ol>
        </li>
      ))}
</ol>
