---
import Link from "astro-typesafe-routes/link";
import { postDateFormatter } from "../../lib/formatter";

interface Props {
  slug: string;
  title: string;
  publishedAt: Date;
  position?: {
    firstGlobal?: boolean;
    firstInYear?: boolean;
    last?: boolean;
  };
}

const { slug, title, publishedAt, position } = Astro.props;
---

<Link
  to="/snippet/[slug]"
  params={{ slug }}
  class:list={[
    "p-4.5 flex gap-3 justify-between sidebar-shown:justify-start md:justify-between engaged:bg-gray-100 dark:engaged:bg-zinc-900 transition-colors group scroll-my-5",
    position?.firstGlobal && "rounded-t-xl",
    position?.firstInYear &&
      !position?.firstGlobal &&
      "rounded-t-xl sidebar-shown:rounded-t-none",
    position?.last && "rounded-b-xl",
  ]}
>
  <div
    class="flex gap-2.5 flex-col justify-between p-1 sidebar-shown:p-0 wrap-anywhere transition-[padding]"
  >
    <div class="text-xl text-gray-900 dark:text-zinc-100 font-semibold text-balance">{title}</div>
    <time class="text-gray-500 dark:text-zinc-500 text-xs" datetime={publishedAt.toISOString()}>
      {postDateFormatter.format(publishedAt)}
    </time>
  </div>
</Link>
