---
import { Image } from "astro:assets";
import type { ComponentProps } from "astro/types";
import Link from "astro-typesafe-routes/link";
import { postDateFormatter } from "../../lib/formatter";
import ImageWithInferredAlt from "../ImageWithInferredAlt.astro";

interface Props {
  slug: string;
  title: string;
  description: string;
  publishedAt: Date;
  coverImage?: ComponentProps<typeof Image>["src"];
  position?: {
    firstGlobal?: boolean;
    firstInYear?: boolean;
    last?: boolean;
  };
}

const { slug, title, description, publishedAt, coverImage, position } =
  Astro.props;
---

<Link
  to="/post/[slug]"
  params={{ slug }}
  class:list={[
    "p-4.5 flex gap-3 justify-between sidebar-shown:justify-start md:justify-between engaged:bg-neutral-100 transition-colors group min-h-34 sidebar-shown:min-h-[unset] md:min-h-34 sidebar-shown:flex-wrap sidebar-shown:flex-col-reverse md:flex-nowrap md:flex-row",
    position?.firstGlobal && "rounded-t-2xl",
    position?.firstInYear &&
      !position?.firstGlobal &&
      "rounded-t-2xl sidebar-shown:rounded-t-none",
    position?.last && "rounded-b-2xl",
  ]}
>
  <div
    class="flex gap-2.5 flex-col justify-between p-1 sidebar-shown:p-0 md:p-1 wrap-anywhere"
  >
    <div class="flex flex-col gap-1.5">
      <span class="text-xl text-neutral-900 font-semibold text-balance">
        {title}
      </span>
      <p class="text-neutral-500 font-medium text-sm text-pretty">
        {description}
      </p>
    </div>
    <div class="text-neutral-500 text-xs">
      {postDateFormatter.format(publishedAt)}
    </div>
  </div>
  {
    coverImage && (
      <div class="w-40 max-w-2/5 sidebar-shown:max-w-[unset] md:max-w-1/3 flex-none rounded-lg overflow-hidden media-border after:rounded-lg self-start">
        <ImageWithInferredAlt
          src={coverImage}
          class="size-full motion-safe:group-engaged:scale-105 transition-transform object-cover motion-safe:animate-pulse bg-neutral-200"
          onload="this.classList.remove('motion-safe:animate-pulse')"
        />
      </div>
    )
  }
</Link>
