---
import type { HTMLAttributes } from "astro/types";
import { ExternalLink } from "lucide-astro";

interface Props extends Omit<HTMLAttributes<"a">, "href"> {
  href: NonNullable<HTMLAttributes<"a">["href"]>;
  metadata: {
    title: string;
    description?: string;
    siteName?: string;
    hasImage?: boolean;
  };
}

const {
  metadata: { title, description, hasImage, siteName },
  ...props
} = Astro.props;

const domain = props.href
  ? new URL(props.href).hostname.replace("www.", "")
  : "";
---

<a
  {...props}
  class="not-prose w-full flex flex-col bg-white shadow-xs rounded-mdx-block overflow-hidden border border-neutral-200 engaged:border-neutral-300 engaged:bg-neutral-50 transition-all group clickable my-mdx-component-margin-y"
  ><div
    class="flex flex-row sidebar-shown:flex-col md:flex-row gap-3 p-4 pb-3.5 items-start"
  >
    {
      hasImage && (
        <div class="flex-none w-2/5 sidebar-shown:w-full md:grow-0 md:w-2/5 md:max-w-40 rounded overflow-hidden media-border after:rounded">
          <slot />
        </div>
      )
    }
    <div class="flex justify-between grow gap-2 p-0.5">
      <div class="flex flex-col gap-2">
        <div
          class="text-xl leading-snug text-neutral-900 font-bold text-balance"
        >
          {title}
        </div>
        {
          description && (
            <div class="text-neutral-500 text-sm leading-snug text-pretty line-clamp-2">
              {description}
            </div>
          )
        }
      </div>
      <ExternalLink class="text-neutral-400 flex-none m-1 me-0" size={18} />
    </div>
  </div>
  <div
    class="px-4 py-2 text-neutral-400 border-t border-neutral-200 group-engaged:border-neutral-300 transition-colors text-xs flex justify-between flex-wrap gap-1"
  >
    <span>
      <span class="text-neutral-600 font-medium">{siteName ?? domain}</span>
      {
        siteName && siteName !== domain && (
          <>
            <span class="w-[0.125em] inline-block"> </span>
            <span>{domain}</span>
          </>
        )
      }
    </span>
    {
      props.target === "_blank" && (
        <span class="ms-auto">새 탭에서 열립니다.</span>
      )
    }
  </div>
</a>
