---
import { Image } from "astro:assets";
import { match } from "ts-pattern";
import { getAnchor } from "./mdx/AnchorWithLinkPreviewTooltip/get-anchor";

interface Props {
  variant?: "flat" | "glass";
  name: string;
  id: string;
  avatar: string;
  url: string;
}

const { variant = "flat", id, avatar, name, url } = Astro.props;

const classNames = match(variant)
  .with("flat", () => ({
    base: "engaged:bg-gray-100 dark:engaged:bg-zinc-900 text-gray-700 dark:text-zinc-300 engaged:text-gray-800 dark:engaged:text-zinc-200",
    image: "bg-gray-200 dark:bg-zinc-700",
  }))
  .with("glass", () => ({
    base: "engaged:border-gray-500/30 engaged:bg-gray-300/30 engaged:backdrop-blur engaged:shadow text-white/80 engaged:text-white",
    image: "bg-gray-200/75 backdrop-blur",
  }))
  .exhaustive();

const { url: urlWithSearchParams } = await getAnchor({
  astroUrl: Astro.url,
  href: url,
});
---

<address><a
  class:list={[
      "inline-flex items-center gap-2 text-sm transition-all p-2 pe-3.5 not-italic rounded-full -m-2 border border-transparent group",
      classNames.base,
    ]}
  href={urlWithSearchParams}
  target="_blank"
  rel="noopener noreferrer"
>
  <!-- missing alt text is intentional -->
  <Image
    src={avatar}
    alt=""
    aria-hidden
    width={28}
    height={28}
    class:list={[
        "rounded-full not-noscript:motion-safe:animate-pulse",
        classNames.image,
      ]}
    onload="this.classList.remove('not-noscript:motion-safe:animate-pulse')"
  />
  <span>
    <span> {name} </span>
    <span class="text-xs font-medium text-current/50"> {id} </span>
  </span>
</a></address>
