<div id="comments" class="giscus scroll-mt-5 sidebar-shown:scroll-mt-9"></div>
<!-- should be run every time when a page is loaded -->
<script
  data-astro-rerun
  is:inline
  src="https://giscus.app/client.js"
  data-repo="te6-in/blog-te6-in-comments"
  data-repo-id="R_kgDOIZUGww"
  data-category="Comments"
  data-category-id="DIC_kwDOIZUGw84CTZxb"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="ko"
  crossorigin="anonymous"
  async></script>
