---
import StarCount from "./StarCount.astro";
import { METADATA } from "../lib/metadata";
import { Socials } from "./Socials";
import { appendReferrer } from "../lib/href";

const formatter = Intl.DateTimeFormat("ko-KR", {
  dateStyle: "long",
  timeStyle: "short",
  hour12: false,
});
---

<footer
  class="fixed inset-x-0 sidebar-shown:start-sidebar-width transition-[inset] stretch:mx-sidebar-stretch-x bottom-0 flex flex-col justify-between gap-2 -z-10 h-footer-height px-4 py-6"
>
  <div class="flex flex-col gap-3">
    <div class="text-gray-500 dark:text-neutral-500 text-sm text-balance">
      <span>블로그 마지막 업데이트</span>
      <time
        class="font-semibold ml-0.5"
        datetime={METADATA.updatedAt.toISOString()}
      >
        {formatter.format(METADATA.updatedAt)}
      </time>
    </div>
    <p class="text-gray-400 dark:text-neutral-600 text-xs text-balance">
      <a
        class:list={[
          "engaged:text-gray-500 dark:engaged:text-neutral-500 underline transition-colors rounded-lg",
          "scroll-to-bottom-on-focus",
        ]}
        href={appendReferrer(
          "https://github.com/microsoft/fluentui-emoji",
          Astro.url.hostname
        )}
        target="_blank"
        rel="noopener noreferrer"
      >
        microsoft/fluentui-emoji
      </a>{" "}
      is licensed under the MIT License.<br />Copyright (c) Microsoft
      Corporation.
    </p>
  </div>
  <div class="flex justify-between sidebar-shown:hidden">
    <div class="flex">
      <Socials.Rss class="scroll-to-bottom-on-focus" />
      <StarCount
        class:list={[
          "not-noscript:px-[0.6875rem] rounded-lg engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark transition-colors text-gray-500 dark:text-neutral-500 font-semibold h-9 noscript:w-9 text-xs",
          "scroll-to-bottom-on-focus",
        ]}
      />
    </div>
    <div class="flex">
      <Socials.GitHub class="scroll-to-bottom-on-focus" />
      <Socials.Bluesky class="scroll-to-bottom-on-focus" />
      <Socials.LinkedIn class="scroll-to-bottom-on-focus" />
    </div>
  </div>
</footer>
<script>
  document.addEventListener("astro:page-load", () => {
    const scrollToBottomOnFocusElements = [
      ...document.getElementsByClassName("scroll-to-bottom-on-focus"),
    ];

    for (const el of scrollToBottomOnFocusElements) {
      el.addEventListener("focus", () => {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: window.matchMedia("(prefers-reduced-motion: no-preference)")
            .matches
            ? "smooth"
            : "auto",
        });
      });
    }
  });
</script>
