---
import Link from "astro-typesafe-routes/link";
import { METADATA } from "../lib/metadata";
import { Image } from "astro:assets";
import icon from "../assets/icon.png";
import { appendReferrer } from "../lib/href";
import { Socials } from "./Socials";
---

<header>
  <div
    class="fixed start-0 top-0 -z-10 sidebar-shown:z-10 w-sidebar-hidden-title-width sidebar-shown:w-sidebar-width px-4 sidebar-shown:px-sidebar-padding-x stretch:ms-sidebar-stretch-x transition-[inset,width,padding]"
  >
    <div
      class="-mx-2 ps-3 sidebar-shown:px-3 py-2 sidebar-shown:bg-body-bg dark:sidebar-shown:bg-body-bg-dark flex items-center gap-1 h-header-height sidebar-shown:border-gray-300 dark:sidebar-shown:border-zinc-800 border-b border-transparent transition-[border-color]"
    >
      <!-- relative to make focus ring visible above the separator -->
      <a
        href={appendReferrer(METADATA.author.url, Astro.url.hostname)}
        target="_blank"
        class:list={[
          "relative font-medium text-gray-600 p-2 pr-2.5 -ml-3 flex gap-2 engaged:bg-body-item-engaged rounded-lg transition-colors dark:text-zinc-400 dark:engaged:bg-body-item-engaged-dark",
          "scroll-to-top-on-focus",
        ]}
      >
        <Image src={icon} alt="" class="size-6" aria-hidden />
        <div>te6.in</div>
      </a>
      <div class="w-0.5 rounded-full h-[1.5em] bg-gray-300 dark:bg-zinc-800">
      </div>
      <Link
        to="/"
        class:list={[
          "font-bold text-gray-800 py-2 px-2.5 engaged:bg-body-item-engaged transition-colors rounded-lg dark:text-zinc-200 dark:engaged:bg-body-item-engaged-dark",
          "scroll-to-top-on-focus",
        ]}>Blog</Link
      >
    </div>
  </div>
  <div
    class="fixed top-0 start-sidebar-hidden-title-width sidebar-shown:start-sidebar-width end-0 transition-[inset] stretch:mx-sidebar-stretch-x h-header-height flex items-center justify-end pe-3 -z-10"
  >
    <div class="hidden sidebar-shown:flex px-1 gap-1">
      <Socials.GitHub class="scroll-to-top-on-focus" />
      <Socials.Bluesky class="scroll-to-top-on-focus" />
      <Socials.LinkedIn class="scroll-to-top-on-focus" />
    </div>
    <div
      class="sidebar-shown:hidden flex items-center gap-1 text-gray-600 dark:text-zinc-400 font-medium"
    >
      <Link
        to="/posts"
        class:list={[
          "px-2.5 py-1.5 engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark rounded-lg transition-colors flex-none",
          "scroll-to-top-on-focus",
        ]}
      >
        {METADATA.lexicons.posts.label}
      </Link>
      <Link
        to="/snippets"
        class:list={[
          "px-2.5 py-1.5 engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark rounded-lg transition-colors flex-none",
          "scroll-to-top-on-focus",
        ]}
      >
        {METADATA.lexicons.snippets.label}
      </Link>
      <Link
        to="/tags"
        class:list={[
          "px-2.5 py-1.5 engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark rounded-lg transition-colors flex-none",
          "scroll-to-top-on-focus",
        ]}
      >
        {METADATA.lexicons.tags.label}
      </Link>
    </div>
  </div>
</header>
<script>
  document.addEventListener("astro:page-load", () => {
    const scrollToTopOnFocusElements = [
      ...document.getElementsByClassName("scroll-to-top-on-focus"),
    ];

    for (const el of scrollToTopOnFocusElements) {
      el.addEventListener("focus", () => {
        window.scrollTo({
          top: 0,
          behavior: window.matchMedia("(prefers-reduced-motion: no-preference)")
            .matches
            ? "smooth"
            : "auto",
        });
      });
    }
  });
</script>
