---
import Link from "astro-typesafe-routes/link";
---

<header>
  <div
    class="fixed start-0 top-0 -z-10 sidebar-shown:z-10 w-sidebar-hidden-title-width sidebar-shown:w-sidebar-width px-4 sidebar-shown:px-sidebar-padding-x stretch:ms-sidebar-stretch-x transition-[inset,width,padding]"
  >
    <div
      class="-mx-2 p-2 sidebar-shown:bg-body-bg flex items-center gap-2 h-header-height sidebar-shown:border-neutral-300 border-b border-transparent transition-[border-color]"
    >
      <a
        href="https://te6.in/"
        target="_blank"
        class="font-medium text-neutral-600 p-1 -m-1"
      >
        te6.in
      </a>
      <div class="w-0.5 rounded-full h-[1.5em] bg-neutral-300"></div>
      <Link to="/" class="font-bold text-neutral-800 p-1">Blog</Link>
    </div>
  </div>
  <div
    class="fixed top-0 start-sidebar-hidden-title-width sidebar-shown:start-sidebar-width end-0 transition-[inset] stretch:mx-sidebar-stretch-x h-header-height flex items-center justify-between px-4 -z-10"
  >
    <div>contents</div>
    <div>contents</div>
  </div>
</header>
