<div
  class="sidebar-shown:ps-sidebar-width stretch:mx-sidebar-stretch-x transition-[padding] my-marginal-height z-10"
>
  <main
    class="border-neutral-200 border-y sidebar-shown:border shadow-md bg-content-card-bg rounded-lg sidebar-shown:rounded-3xl sidebar-shown:mx-2 min-h-[calc(100vh-var(--spacing-marginal-height)+var(--radius-xl))] transition-[margin,padding,border-width,border-radius] overflow-hidden sidebar-shown:p-4"
  >
    <slot />
  </main>
</div>
