<div
  class="sidebar-shown:ps-sidebar-width stretch:mx-sidebar-stretch-x transition-[padding] mt-header-height mb-footer-height z-10"
>
  <main
    class="border-neutral-200 border-y sidebar-shown:border shadow-md bg-content-card-bg rounded-3xl sidebar-shown:mx-2 min-h-[calc(100vh-var(--spacing-header-height)+var(--radius-3xl))] transition-[margin,padding,border-width,border-radius] sidebar-shown:p-4 sidebar-shown:pb-0 flex flex-col"
  >
    <slot />
  </main>
</div>
