---
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import ImageWithInferredAlt from "./ImageWithInferredAlt.astro";

interface Props extends HTMLAttributes<"div"> {
  title: string;
  titleCount?: number;
  description?: string;
  coverImage?: ComponentProps<typeof Image>["src"];
}

const {
  title,
  titleCount,
  description,
  coverImage,
  class: className,
  ...props
} = Astro.props;

const variant = coverImage ? "glass" : "flat";
---

<div
  class:list={[
    "relative rounded-t-content-card sidebar-shown:rounded-[0.65625rem] transition-[border-radius] overflow-hidden sidebar-shown:mb-4 isolate",
    className,
  ]}
  {...props}
>
  <div class="flex flex-col justify-end gap-5 p-8 z-10 relative">
    <div class="flex flex-col gap-2">
      <span
        class:list={[
          "text-3xl leading-11 text-balance",
          variant === "glass"
            ? "text-white"
            : "text-gray-800 dark:text-neutral-200",
        ]}
      >
        <h1 class:list={["font-semibold inline", titleCount && "me-1.5"]}>
          {title}
        </h1>
        {
          titleCount && (
            <span class="text-current/50 font-medium">{titleCount}</span>
          )
        }
      </span>
      {
        description && (
          <p
            class:list={[
              "text-balance text-lg",
              variant === "glass"
                ? "text-white/80"
                : "text-gray-600 dark:text-neutral-400",
            ]}
          >
            {description}
          </p>
        )
      }
    </div>
    <slot />
  </div>
  {
    coverImage && (
      <div class="absolute inset-0 after:absolute after:inset-0 after:dark:outline-1 after:-outline-offset-1 after:outline-white/5 after:z-10 after:rounded-t-content-card sidebar-shown:after:rounded-[0.65625rem] after:transition-[border-radius]">
        <ImageWithInferredAlt
          src={coverImage}
          class="size-full object-cover not-noscript:motion-safe:animate-pulse bg-gray-400 dark:bg-neutral-600 select-none"
          onload="this.classList.remove('not-noscript:motion-safe:animate-pulse')"
        />
        <div class="bg-gradient-to-b from-black/85 to-black/60 inset-0 absolute contrast-more:backdrop-blur-lg transition-[backdrop-filter]" />
      </div>
    )
  }
</div>
