<div
  class="prose prose-gray dark:prose-neutral dark:prose-invert max-w-[unset] prose-headings:text-balance prose-p:text-pretty prose-li:text-pretty prose-del:text-current/50 prose-del:decoration-gray-600 dark:prose-del:decoration-neutral-400 prose-del:decoration-2 prose-blockquote:not-italic prose-headings:scroll-mt-5 sidebar-shown:prose-headings:scroll-mt-9 prose-img:max-h-[80vh] sidebar-shown:prose-img:max-h-[60vh] prose-img:object-contain prose-img:rounded-mdx-block prose-img:overflow-hidden prose-img:mx-auto prose-img:w-auto prose-ul:ps-5.5 prose-ol:ps-5.5 prose-a:rounded-md [&_pre.astro-code]:scheme-only-dark [&_pre.astro-code]:[scrollbar-color:var(--color-neutral-500)_transparent] [&_pre.astro-code]:[scrollbar-width:thin] [&_pre.astro-code]:px-5 [&_pre.astro-code]:py-4 sidebar-shown:[&_pre.astro-code]:px-6 sidebar-shown:[&_pre.astro-code]:py-5 [&_pre.astro-code]:-mx-5 sidebar-shown:[&_pre.astro-code]:mx-0 [&_pre.astro-code]:rounded-none sidebar-shown:[&_pre.astro-code]:rounded-mdx-block"
>
  <slot />
</div>
