<div
  class="prose max-w-[unset] prose-headings:text-balance prose-p:text-pretty prose-li:text-pretty prose-del:text-current/50 prose-del:decoration-neutral-600 prose-del:decoration-2 prose-headings:scroll-mt-5 sidebar-shown:prose-headings:scroll-mt-9 prose-img:max-h-[80vh] prose-img:object-contain"
>
  <slot />
</div>
