<div
  class="prose max-w-[unset] prose-headings:text-balance prose-p:text-pretty prose-li:text-pretty prose-del:text-current/50 prose-del:decoration-neutral-600 prose-del:decoration-2"
>
  <slot />
</div>
