---
import Link from "astro-typesafe-routes/link";
import type { InferEntrySchema } from "astro:content";
import { getCollection, getEntry } from "astro:content";
import { BookMarked } from "lucide-astro";

interface Props {
  class?: string;
  currentType: "post" | "snippet";
  currentSlug: string;
}

const { currentType, currentSlug } = Astro.props;

const allSeries = await getCollection("series");

function resolveEntries(entries: InferEntrySchema<"series">["entries"]) {
  return Promise.all(entries.map(({ slug }) => getEntry(slug)));
}

// XXX: this is run for every post
const allSeriesWithResolvedEntries = await Promise.all(
  allSeries.map(async (series) => ({
    ...series,
    resolvedEntries: await resolveEntries(series.data.entries),
  }))
);

const seriesWithin = allSeriesWithResolvedEntries.filter(
  ({ resolvedEntries }) =>
    resolvedEntries.find(
      ({ collection, id }) => collection === currentType && id === currentSlug
    )
);
---

{
  seriesWithin.length > 0 && (
    <div class:list={["flex flex-col gap-2", Astro.props.class]}>
      {seriesWithin.map(({ data: { title }, resolvedEntries }) => (
        <nav class="rounded-[0.65625rem] flex flex-col gap-3 border border-gray-200 dark:border-neutral-800 shadow-xs">
          <div class="flex items-start gap-1.5 text-gray-800 dark:text-neutral-200 p-5.5 pb-0 font-semibold transition-[padding]">
            <BookMarked class="flex-none" />
            <div class="">{title}</div>
          </div>
          <div class="flex gap-1.5 p-5.5 pt-0">
            <div class="w-0.5 rounded-full bg-gray-200 dark:bg-neutral-800 ms-[0.6875rem] flex-none transition-[margin]" />
            <ol role="list" class="flex flex-col grow">
              {resolvedEntries.map(
                ({ id, collection, data: { title } }, index) => (
                  <li class="grow">
                    <Link
                      to={`/${collection}/[slug]`}
                      params={{ slug: id }}
                      {...(currentType === collection &&
                        currentSlug === id && {
                          "aria-current": "page",
                        })}
                      class:list={[
                        "flex items-baseline gap-[0.5ch] p-2.5 ps-3 rounded-md engaged:bg-gray-100 dark:engaged:bg-neutral-900 transition-colors text-sm text-pretty w-full",
                        currentType === collection && currentSlug === id
                          ? "text-primary-600 dark:text-primary-400 font-semibold"
                          : "text-gray-700 dark:text-neutral-300 font-medium",
                      ]}
                    >
                      <span aria-hidden class="text-current/50">
                        {index + 1}.
                      </span>
                      <span>{title}</span>
                    </Link>
                  </li>
                )
              )}
            </ol>
          </div>
        </nav>
      ))}
    </div>
  )
}
