---
import Link from "astro-typesafe-routes/link";
import { match } from "ts-pattern";

interface Props {
  variant?: "flat" | "glass";
  name: string;
  slug: string;
  count: number;
  isCurrentPage?: boolean;
}

const { variant = "flat", slug, name, count, isCurrentPage } = Astro.props;

if (variant === "glass" && isCurrentPage) {
  throw new Error(
    "Cannot use `isCurrentPage` prop with `glass` variant. Use `flat` variant instead."
  );
}

const baseClassName = match(variant)
  .with("flat", () =>
    isCurrentPage
      ? "border-accent-300 bg-accent-100 engaged:bg-accent-200 engaged:text-accent-800 text-accent-700 engaged:text-accent-900 font-medium"
      : "border-neutral-300 bg-neutral-200 engaged:bg-neutral-300 engaged:text-neutral-900 text-neutral-800 engaged:text-neutral-900"
  )
  .with(
    "glass",
    () =>
      "border-neutral-500/30 bg-neutral-400/35 engaged:bg-neutral-300/40 engaged:text-white backdrop-blur shadow-sm text-white/80 engaged:text-white"
  )
  .exhaustive();
---

<Link
  to="/tag/[slug]"
  params={{ slug }}
  {...isCurrentPage && { "aria-current": "page" }}
  class:list={[
    "inline-flex items-baseline gap-[0.5ch] transition-colors px-[0.6875rem] py-[0.3125rem] rounded-full border group whitespace-nowrap scroll-mt-36",
    baseClassName,
  ]}
>
  <span class="text-sm">{name}</span>
  <span class="text-xs font-medium select-none text-current/50">
    {count}
  </span>
</Link>
