---
import Link from "astro-typesafe-routes/link";
import { match } from "ts-pattern";

interface Props {
  variant?: "flat" | "glass";
  name: string;
  slug: string;
  count: number;
  isCurrentPage?: boolean;
}

const { variant = "flat", slug, name, count, isCurrentPage } = Astro.props;

if (variant === "glass" && isCurrentPage) {
  throw new Error(
    "Cannot use `isCurrentPage` prop with `glass` variant. Use `flat` variant instead.",
  );
}

const baseClassName = match(variant)
  .with("flat", () =>
    isCurrentPage
      ? "border-primary-300 dark:border-primary-800 bg-primary-100 dark:bg-primary-950 engaged:bg-primary-200 dark:engaged:bg-primary-900 engaged:text-primary-800 dark:engaged:text-primary-400 text-primary-700 dark:text-primary-500 font-medium"
      : "border-gray-300 dark:border-zinc-800 bg-gray-200 dark:bg-zinc-900 engaged:bg-gray-300 dark:engaged:bg-zinc-800 engaged:text-gray-900 dark:engaged:text-zinc-200 text-gray-800 dark:text-zinc-300",
  )
  .with(
    "glass",
    () =>
      "border-gray-500/30 bg-gray-400/35 engaged:bg-gray-300/40 engaged:text-white backdrop-blur shadow-sm text-white/80 engaged:text-white",
  )
  .exhaustive();
---

<Link
  to="/tag/[slug]"
  params={{ slug }}
  {...isCurrentPage && { "aria-current": "page" }}
  class:list={[
    "inline-flex items-baseline gap-[0.5ch] transition-colors px-[0.6875rem] py-[0.3125rem] rounded-full border group whitespace-nowrap scroll-mt-36 scroll-mb-5",
    baseClassName,
  ]}
>
  <span class="text-sm">{name}</span>
  <span class="text-xs font-medium select-none text-current/50"> {count} </span>
</Link>
