---
import Link from "astro-typesafe-routes/link";
import { match } from "ts-pattern";

interface Props {
  variant?: "flat" | "glass";
  name: string;
  slug: string;
  count: number;
}

const { variant = "flat", slug, name, count } = Astro.props;

const baseClassName = match(variant)
  .with(
    "flat",
    () =>
      "border-neutral-300 bg-neutral-200 engaged:bg-neutral-300 engaged:text-neutral-900 text-neutral-800 engaged:text-neutral-900"
  )
  .with(
    "glass",
    () =>
      "border-neutral-500/30 bg-neutral-400/35 engaged:bg-neutral-300/40 engaged:text-white backdrop-blur shadow-sm text-white/80 engaged:text-white"
  )
  .exhaustive();
---

<Link
  to="/tag/[slug]"
  params={{ slug }}
  class:list={[
    "inline-flex items-baseline gap-[0.5ch] transition-colors px-[0.6875rem] py-[0.3125rem] rounded-full border group whitespace-nowrap",
    baseClassName,
  ]}
>
  <span class="text-sm">{name}</span>
  <span class="text-xs font-medium select-none text-current/50">
    {count}
  </span>
</Link>
