---
import type { ComponentProps } from "astro/types";
import Aside from "../components/Aside.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-body-bg motion-safe:scroll-smooth">
    <Header />
    <Aside />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
