---
import { FileCode2, Newspaper, Tags } from "lucide-astro";
import { getTags } from "../../lib/contents";
import { CollapsibleSidebarItem } from "./CollapsibleSidebarItem";
import LinkSidebarItem from "./LinkSidebarItem.astro";
import TagChip from "../TagChip.astro";

interface Props {
  currentPage?: { type: "posts" | "snippets" } | { type: "tags"; slug: string };
}

const { currentPage } = Astro.props;

const tags = await getTags({ sortBy: "count" });
---

<aside
  id="sidebar"
  class="fixed inset-y-0 -start-sidebar-width sidebar-shown:start-0 stretch:ms-sidebar-stretch-x pt-marginal-height transition-[inset] w-sidebar-width overflow-x-hidden overscroll-y-none [scrollbar-color:var(--color-neutral-300)_transparent]"
>
  <div
    class="sticky top-0 inset-x-0 h-22 -mx-2 bg-gradient-to-b from-body-bg to-transparent pointer-events-none z-10"
  >
  </div>
  <nav class="flex flex-col gap-2 w-[inherit] px-sidebar-padding-x py-4 -mt-22">
    <LinkSidebarItem to="/posts" isCurrentPage={currentPage?.type === "posts"}>
      <Newspaper slot="icon" />
      <Fragment slot="title">글</Fragment>
    </LinkSidebarItem>
    <LinkSidebarItem
      to="/snippets"
      isCurrentPage={currentPage?.type === "snippets"}
    >
      <FileCode2 slot="icon" />
      <Fragment slot="title">코드 조각</Fragment>
    </LinkSidebarItem>
    <CollapsibleSidebarItem
      client:load
      defaultOpen={currentPage?.type === "tags"}
    >
      <Tags slot="triggerIcon" />
      <Fragment slot="triggerTitle">태그</Fragment>
      <Fragment slot="panelContent">
        <ul role="list" class="flex flex-wrap gap-1.5 py-1.5">
          {
            tags.map((tag) => (
              <li>
                <TagChip
                  {...tag}
                  isCurrentPage={
                    currentPage?.type === "tags" &&
                    currentPage?.slug === tag.slug
                  }
                />
              </li>
            ))
          }
        </ul>
      </Fragment>
    </CollapsibleSidebarItem>
  </nav>
</aside>
