---
import { FileCode2, Newspaper, Tags } from "lucide-astro";
import { getTags } from "../../lib/contents";
import { CollapsibleSidebarItem } from "./CollapsibleSidebarItem";
import LinkSidebarItem from "./LinkSidebarItem.astro";
import TagChip from "../TagChip.astro";

const tagParam = Astro.url.pathname.startsWith("/tag/")
  ? Astro.params.slug
  : null;

const tags = await getTags({ sortBy: "count" });
---

<div
  class="fixed inset-y-0 -start-sidebar-width sidebar-shown:start-0 stretch:ms-sidebar-stretch-x pt-marginal-height transition-[inset] w-sidebar-width overflow-y-auto overflow-x-hidden overscroll-y-none"
>
  <div
    class="sticky top-0 inset-x-0 h-22 -mx-2 bg-gradient-to-b from-body-bg to-transparent pointer-events-none z-10"
  >
  </div>
  <nav class="flex flex-col gap-2 w-[inherit] px-sidebar-padding-x py-4 -mt-22">
    <LinkSidebarItem to="/posts">
      <Newspaper slot="icon" />
      <Fragment slot="title">글</Fragment>
    </LinkSidebarItem>
    <LinkSidebarItem to="/snippets">
      <FileCode2 slot="icon" />
      <Fragment slot="title">코드 조각</Fragment>
    </LinkSidebarItem>
    <CollapsibleSidebarItem client:load defaultOpen={!!tagParam}>
      <Tags slot="triggerIcon" />
      <Fragment slot="triggerTitle">태그</Fragment>
      <Fragment slot="panelContent">
        {tags.map((tag) => <TagChip {...tag} />)}
      </Fragment>
    </CollapsibleSidebarItem>
  </nav>
</div>
