---
import Layout from "../../layouts/Layout.astro";
import { getTags } from "../../lib/contents";

export async function getStaticPaths() {
  const tags = await getTags({});

  return tags.map(({ name, slug }) => ({
    params: { slug },
    props: { name, slug },
  }));
}

const { name, slug } = Astro.props;
// TODO: 사이드바 태그 패널 열려 있어야 함
---

<Layout>
  <div>
    {name}
  </div>
</Layout>
