---
interface Props {
  class?: string;
  href?: string;
  title?: string;
  ariaLabel?: string;
}

const { class: className, href, title, ariaLabel } = Astro.props;
---

<a
  title={title}
  aria-label={ariaLabel}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    "flex items-center justify-center rounded-lg engaged:bg-body-item-engaged dark:engaged:bg-body-item-engaged-dark transition-colors text-gray-500 dark:text-zinc-500 size-9",
    className,
  ]}
>
  <slot />
</a>
