---
import { CodeXml } from "lucide-astro";
---

<div
  class="relative prose-hr:border-0 prose-hr:h-0.5 prose-hr:rounded-full prose-hr:bg-gray-200 dark:prose-hr:bg-neutral-800 text-gray-400 dark:text-neutral-600"
>
  <hr />
  <div
    class="absolute start-1/2 top-1/2 -translate-1/2 p-2 bg-content-card-bg dark:bg-content-card-bg-dark"
    aria-hidden
  >
    <CodeXml class="flex-none" size={20} />
  </div>
</div>
