---
import { CodeXml } from "lucide-astro";
---

<div
  class="relative prose-hr:border-0 prose-hr:h-0.5 prose-hr:rounded-full prose-hr:bg-neutral-200 text-neutral-400"
>
  <hr />
  <div
    class="absolute start-1/2 top-1/2 -translate-1/2 p-2 bg-content-card-bg"
    aria-hidden
  >
    <CodeXml class="flex-none" size={20} />
  </div>
</div>
