<div
  class="prose-p:flex prose-p:items-center gap-1.5 sidebar-shown:prose-img:max-h-[unset] sidebar-shown:prose-img:object-cover prose-img:m-0 prose-img:first-of-type:-rotate-2 prose-img:last-of-type:rotate-3 prose-img:first-of-type:scale-85 prose-img:last-of-type:scale-90 prose-img:border-8 prose-img:border-white prose-img:ring-2 prose-img:ring-neutral-700/5 prose-img:first-of-type:translate-x-1/10 prose-img:last-of-type:-translate-x-1/10 prose-img:first-of-type:-translate-y-1/20 prose-img:last-of-type:translate-y-1/20 prose-img:shadow-xl prose-img:rounded-4xl prose-img:engaged:translate-0 prose-img:engaged:scale-95 prose-img:engaged:rotate-0 prose-img:transition-transform"
>
  <slot />
</div>
