<div
  class="prose-p:grid prose-p:grid-cols-2 prose-p:gap-1 sidebar-shown:prose-p:grid-cols-1 sidebar-shown:prose-p:gap-4 md:prose-p:grid-cols-2 md:prose-p:gap-1 prose-img:m-0 sidebar-shown:prose-img:max-h-[unset] sidebar-shown:prose-img:object-cover"
>
  <slot />
</div>
