<div
  class="prose-p:flex gap-1.5 sidebar-shown:prose-p:flex-col sidebar-shown:prose-p:gap-4 md:prose-p:flex-row md:prose-p:gap-1.5 prose-img:m-0 sidebar-shown:prose-img:max-h-[unset] sidebar-shown:prose-img:object-cover"
>
  <slot />
</div>
